<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="edit-profile">
    <div class="container">
        <h2>Edit Profile</h2>
        <form action="{{ url_for('edit_profile') }}" method="post" class="edit-profile-form">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" value="{{ user_info.name }}" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="{{ user_info.email }}" required>
            </div>
            <div class="form-group">
                <label for="college">College:</label>
                <input type="text" id="college" name="college" value="{{ user_info.college }}">
            </div>
            <div class="form-group">
                <label for="class">Class:</label>
                <input type="text" id="class" name="class" value="{{ user_info.class }}">
            </div>
            <div class="form-group">
                <label for="roll_no">Roll No:</label>
                <input type="text" id="roll_no" name="roll_no" value="{{ user_info.roll_no }}">
            </div>
            <div class="form-group">
                <label for="blood_group">Blood Group:</label>
                <input type="text" id="blood_group" name="blood_group" value="{{ user_info.blood_group }}">
            </div>
            <div class="form-group">
                <label for="phone_number">Phone Number:</label>
                <input type="text" id="phone_number" name="phone_number" value="{{ user_info.phone_number }}">
            </div>
            <div class="form-group">
                <label for="address">Address:</label>
                <textarea id="address" name="address">{{ user_info.address }}</textarea>
            </div>
            <div class="form-group">
                <label for="date_of_birth">Date of Birth:</label>
                <input type="date" id="date_of_birth" name="date_of_birth" value="{{ user_info.date_of_birth }}">
            </div>
            <div class="form-group">
                <label for="parent_details">Parent Details:</label>
                <textarea id="parent_details" name="parent_details">{{ user_info.parent_details }}</textarea>
            </div>
            <div class="button-container">
                <input type="submit" value="Update Profile" class="update-profile-button">
            </div>
        </form>
    </div>
</body>
</html>
